---
import { type CollectionEntry, getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  articleDate={post.data.pubDate}
>
  <Header />

  <main>
    <article>
      <header class="mb-10">
        <h1 class="text-xl md:text-2xl font-medium text-foreground mb-4 leading-tight">
          {post.data.title}
        </h1>
        <div class="flex items-center gap-4 text-base text-muted">
          <time datetime={post.data.pubDate.toISOString()}>
            {
              post.data.pubDate.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </time>
          {
            post.data.tags && (
              <div class="flex gap-2">
                <span>/</span>
                {post.data.tags.map((tag) => (
                  <span>#{tag}</span>
                ))}
              </div>
            )
          }
        </div>
      </header>

      <div
        class="prose prose-invert prose-neutral max-w-none
        prose-headings:text-[var(--color-foreground)]
        prose-p:text-[var(--color-foreground)] prose-p:leading-8 prose-p:mb-6
        prose-li:mb-2
        prose-a:text-[var(--color-foreground)] prose-a:underline
        prose-img:rounded-md"
      >
        <Content />
      </div>
    </article>
  </main>
  <script
    type="application/ld+json"
    slot="head"
    set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      headline: post.data.title,
      description: post.data.description,
      datePublished: post.data.pubDate.toISOString(),
      dateModified: (post.data.updatedDate || post.data.pubDate).toISOString(),
      author: {
        "@type": "Person",
        name: "Gabriel Fruet",
        url: Astro.site,
      },
      url: new URL(Astro.url.pathname, Astro.site).href,
    })}
  />
</BaseLayout>
